/* ==========================================================================
   Base styles
   ========================================================================== */

html {
    color: #fff;
    font: 17px/1.4 'Open Sans', sans-serif;
    text-align: center;
}

body {
    background-color: #2f3135;
    background-image: url('../img/bg.png');
}

.hiColor {
    color: #4caf50;
}

.white {
    color: #fff;
}

a {
    color: #4caf50;
    text-decoration: none;
}

.extA {
    color: #4caf50;
    text-decoration: none;
}

.extA:after {
    font-family: FontAwesome;
    content: "\f08e";
    display: inline-block;
    padding-left: 5px;
    margin-bottom: 6px;
    font-size: 75%;
    vertical-align: middle;
}

ul a {
    color: #333;
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
}

/*
 * Remove text-shadow in selection highlight.
 * These selection declarations have to be separate.
 */

::-moz-selection {
    background-color: #a5d6a7;
    text-shadow: none;
}

::selection {
    background-color: #a5d6a7;
    text-shadow: none;
}

/*
 * Remove the gap between images and the bottom of their containers:
 * h5bp.com/i/440
 */

img {
    vertical-align: middle;
    width: 100%;
}

/* Typography
   ========================================================================== */

h1 {
    font-size: 3em;
    line-height: 1.2em;
    margin-bottom: 0.75em;
}

h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

h3 {
    color: #555;
    font-size: 1.25em;
    margin: 1.2em 0 0.5em;
}

h4 {
    color: #555;
    font-size: 1.0em;
    margin: 1.2em 0 0.25em 0;
    padding: 0;
}

p {
    margin: 0 0 1em;
}

ol, ul{
    padding-left: 20px;
}

li {
    margin: 0.2em;
}

.justify-text {
    text-align: justify;
}

a.anchor{
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}
