/* ==========================================================================
   Base styles
   ========================================================================== */

html {
    color: #fff;
    font: 17px/1.4 'Open Sans', sans-serif;
    text-align: center;
}

body {
    background-color: #2f3135;
    background-image: url('../img/bg.png');
}

a {
    color: #109cff;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
}

/*
 * Remove text-shadow in selection highlight.
 * These selection declarations have to be separate.
 */

::-moz-selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

::selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

/*
 * Remove the gap between images and the bottom of their containers:
 * h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/* Typography
   ========================================================================== */

h1 {
    font-size: 3em;
    line-height: 1.2em;
    margin-bottom: 0.75em;
}

h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

h3 {
    color: #555;
    font-size: 1.25em;
    margin: 1.2em 0 0.5em;
}

h4 {
    color: #555;
    font-size: 1.0em;
    margin: 1.2em 0 0.25em 0;
    padding: 0;
}

p {
    margin: 0 0 1em;
}

.justify-text {
    text-align: justify;
}

a.anchor{
    display: block; 
    position: relative; 
    top: -50px; 
    visibility: hidden;
}
