/* ==========================================================================
   Reusable components
   ========================================================================== */

/*
 * Container
 *
 * Controls consitent width and centering of site structure.
 */

.container {
    margin: 0 auto;
    max-width: 760px;
    padding: 0 10px;
}

/*
 * Aside
 */

.aside {
    background-color: #eee;
    border: solid #e3e3e3;
    border-width: 1px 0;
    font-size: 1.125em;
    padding: 1em 0;
}

/*
 * Calls to action
 */

.cta-option {
    display: inline-block;
    margin: 2.5em 0.5em 0;
    position: relative;
    vertical-align: top;
}

.download-links {
    margin-top: 0.5em;
}

.infobox {
    color: #fff;
    background-color: #109cff;
    margin: 0em;
    padding: 0.6em 0.8em;
}

.infobox a{
    color: #2f3135;
}

blockquote {
    text-align: justify;
    background-color: #eeeeee;
    border-left: 10px solid #444;
    margin: 0.75em 0em;
    padding: 0.5em;
}

blockquote:before {
    color: #444;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}

blockquote .title{
    display: inline;
    margin-bottom: 1.0em;
    font-size: 1.0em;
}

blockquote .authors{
    display: inline-block;
    margin: 1.0em 0em 0em 0em;
    font-size: 0.8em;
}

blockquote ol{
    display: inline-block;
    margin: 0.5em 0em 0em 0em;
    font-size: 0.8em;
}


.info {
    color: #fff;
    font-size: 1.0em;
    padding: 0.6em 0.8em;
    width: 75%;
    vertical-align: middle;
    margin: auto;
    background-color: #444;
}


.btn {
    color: #fff;
    display: inline-block;
    font-size: 1.5em;
    padding: 0.6em 1em;
    position: relative;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    vertical-align: middle;
    border-radius: 4px;
    border: 1px solid #333;
}

.btn:hover,
.btn:focus,
.btn:active {
    text-decoration: none;
}

/*
 * Download button
 *
 * @extends .btn
 */

.btn-download {
    background-color: #0e65a5;
    background-image: linear-gradient(#0c84d9 10%, #0a5388 100%);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset,
                0 1px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid #084673;
}

.btn-download:hover,
.btn-download:focus,
.btn-download:active {
    background-color: #0e65a5;
    background-image: linear-gradient(#109cff 10%, #0e65a5 100%);
}

.btn-download:active {
    background-color: #109cff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2) inset;
}

/*
 * Alternative button
 *
 * @extends .btn
 */

.btn-alt {
    background-color: #444;
    border-color: #222;
    box-shadow: none;
    font-size: 1.25em;
    margin-top: 0.25em;
}

.btn-alt:hover,
.btn-alt:focus,
.btn-alt:active {
    background-color: #555;
}

.btn-download-alt:active {
    background-color: #3f3f3f;
}

/*
 * Symbol
 */

.symbol {
    color: #109cff;
}
