/* ==========================================================================
   Major site components
   ========================================================================== */


/*
 * Code block
 */

.code-snippet{
    background-color: #fff;
    overflow:auto;
    width:auto;
    border: solid #109cff;
    border-width:.1em .1em .1em .8em;
    padding:.2em .6em;
    margin-top: 15px;
    margin-bottom: 15px;
}

.code-snippet pre{
    color: #2f3135;
    text-align: left;
    margin: 0; 
    font-size: 0.8em;
    line-height: 125%
}

/*
 * Site header
 */

.site-header-container{
    background-color: #2f3135;
    background-image: url('../img/bg.png');
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
}
.site-header {
    text-align: center;
    margin: 0 auto;

    padding: 0 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 760px;   
}

/*
 * Site logo
 */

.site-logo {
    color: #fff;
    float: left;
    font-size: 25px;
    font-weight: bold;
    line-height: 32px;
    text-decoration: none;
    text-shadow: 2px 2px 0 #000;
    text-transform: uppercase;
}

/*
 * Site nav
 */

.site-nav {
    float: right;
    list-style-type: none;
    margin: 7px 0 0;
    padding: 0;
}

.site-nav a {
    color: #109cff;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.site-nav a:hover,
.site-nav a:focus,
.site-nav a:active {
    color: #fff;
}

/*
 * Site promo
 */

.site-promo {
    padding: 4em 0 6em;
}

.site-promo .description {
    color: #ddd;
    font-size: 1.2em;
    margin: 1em 2em 0;
}

.last-update {
    color: #999;
    display: block;
    font-size: 0.75em;
    margin-top: 10px;
}

/*
 * Support content
 */

.site-section {
    background-color: #f9f9f9;
    color: #333;
    overflow: hidden;
    padding: 2em 0 6em;
}

.site-section-example {
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 2em 0 3em;
}


.site-section-example .content {
    max-width: 720px;
    margin: auto;
    padding: 10px;
}

.site-section-example h2 {
    margin: 1em 0;
}

.site-section-example h3 {
    color: #fff;
}


.in-the-wild {
    font-size: 1.25em;
    margin: 0 auto;
    max-width: 720px;
}

/*
 * Site footer
 */

.site-footer {
    font-size: 0.875em;
    padding: 2em;
}

.site-footer a {
    color: #109cff;
}
