/* ==========================================================================
   Major site components
   ========================================================================== */
/*
 * FAQ section
 */
 .faq {
    position: relative;
    margin-bottom: 0.5em;
 }

.faq-content {
    font-size: 1.0em;
    display: none;
    text-align: justify;
    padding-left: 12px;
    padding-right: 32px;
    color: #aaa;
    margin: 0;
}

.faq-content p {
    font-size: 1.0em;
    margin: 0;
}

.faq input {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    display: none;
    margin: 0;
    width: 100%;
    height: 32px;
}

.faq input[type=checkbox]:checked~.faq-content {
    display: block;
    font-size: 1em;
    border-left: 10px solid #4caf50;
}

.faq input[type=checkbox]:checked~label{
    border-color: #4caf50;      
}

.faq label {
    cursor: pointer;
    text-align: left;
    font-size: 1em;
    display: block;
    position: relative;
    padding: .2em 12px;
    padding-right: 32px;
    border-left: 10px solid #444;
    transition: all .25s ease-out;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.faq label:hover{
    border-color: #4caf50;
}

/* arrow */
.faq label::before{
    content: '';
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -6px;
    border: 6px solid transparent;
    border-left-color: inherit; 
}

/* update the arrow*/
.faq input[type=checkbox]:checked~label::before{
    border: 6px solid transparent;
    border-top-color: inherit;
    margin-top: -3px;
    right: 10px;    
}

/*
 * Code block
 */

.code-snippet{
    background-color: #fff;
    overflow:auto;
    width:auto;
    border: solid #4caf50;
    border-width:.1em .1em .1em .8em;
    padding:.2em .6em;
    margin-top: 15px;
    margin-bottom: 15px;
}

.code-snippet pre{
    color: #4caf50;
    text-align: left;
    margin: 0; 
    font-size: 0.8em;
    line-height: 125%
}

/*
 * Site header
 */

.site-header-container{
    background-color: #2f3135;
    background-image: url('../img/bg.png');
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
}
.site-header {
    text-align: center;
    margin: 0 auto;

    padding: 15px 15px;
    max-width: 760px;   
}

/*
 * Site logo
 */

.site-logo {
    color: #fff;
    float: left;
    font-size: 25px;
    font-weight: bold;
    line-height: 32px;
    text-decoration: none;
    text-shadow: 2px 2px 0 #000;
    text-transform: uppercase;
}

/*
 * Site nav
 */

.site-nav {
    float: right;
    list-style-type: none;
    margin: 7px 0 0;
    padding: 0;
}

.site-nav a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.site-nav a:hover,
.site-nav a:focus,
.site-nav a:active {
    color: #fff;
}

/*
 * Site promo
 */

.site-promo {
    padding: 4em 0 6em;
}

.site-promo .description {
    color: #ddd;
    font-size: 1.2em;
    margin: 1em 2em 0;
}

.last-update {
    color: #999;
    display: block;
    font-size: 0.75em;
    margin-top: 10px;
}

/*
 * Support content
 */

.site-section {
    background-color: #f9f9f9;
    color: #333;
    overflow: hidden;
    padding-bottom: 2em;
}

.site-section-example {
    background-color: transparent;
    color: #fff;
    text-align: center;
}


.site-section-example .content {
    max-width: 720px;
    margin: auto;
    padding: 10px;
}

.site-section-example h2 {
    margin: 1em 0;
}

.site-section-example h3 {
    color: #fff;
}

.in-the-wild {
    font-size: 1.25em;
    margin: 0 auto;
    max-width: 720px;
}

/*
 * Site footer
 */

.site-footer {
    font-size: 0.875em;
    padding: 2em;
}
